:root {
	--heading-font: 'Manrope', sans-serif;
	--main-font: 'Delius', sans-serif;

	--slate-100: #ffffff;
	--slate-200: #cdcdde;
	--slate-300: #92929f;
	--slate-400: #6d6d80;
	--slate-500: #565674;
	--slate-600: #474761;
	--slate-700: #323248;
	--slate-800: #2b2b40;
	--slate-900: #1b1b29;
	--slate-50: #1b1b2910;

	--blue-100: #e2f1fd;
	--blue-200: #a4d6f9;
	--blue-300: #88c8f7;
	--blue-400: #62b7f4;
	--blue-500: #1192ee;
	--blue-600: #0f80d2;
	--blue-700: #0c6cb0;
	--blue-800: #063251;
	--blue-900: #162936;
	--blue-50: #1192ee10;

	--purple-100: #e9c8ff;
	--purple-200: #dca9ff;
	--purple-300: #cf8aff;
	--purple-400: #c26bff;
	--purple-500: #b54cff;
	--purple-600: #933cd2;
	--purple-700: #722da4;
	--purple-800: #511e76;
	--purple-900: #300f48;
	--purple-50: #b54cff10;

	--green-100: #c4f1d0;
	--green-200: #9fe9b2;
	--green-300: #7ae194;
	--green-400: #55d976;
	--green-500: #30d158;
	--green-600: #29ad49;
	--green-700: #208739;
	--green-800: #176129;
	--green-900: #0e3b19;
	--green-50: #30d15810;

	--red-100: #ffc3cf;
	--red-200: #ffa0b3;
	--red-300: #ff7d97;
	--red-400: #ff5a7b;
	--red-500: #ff375f;
	--red-600: #d22c4d;
	--red-700: #a4213b;
	--red-800: #761629;
	--red-900: #480b17;
	--red-50: #ff375f10;
}

@font-face {
	font-family: 'Manrope';
	font-weight: bold;
	src: local('Manrope'), url('/assets/fonts/Manrope-Bold.woff2') format('woff2'),
		url('/assets/fonts/Manrope-Bold.ttf') format('trutype');
	font-display: swap;
}

@font-face {
	font-family: 'Delius';
	font-weight: normal;
	src: local('Delius'),
		url('/assets/fonts/Delius-Regular.woff2') format('woff2'),
		url('/assets/fonts/Delius-Regular.ttf') format('trutype');
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
html {
	scrollbar-width: thin;
}

body {
	font-family: var(--main-font);
	font-weight: normal;
	min-height: 100vh;
	background-color: var(--slate-900);
	color: var(--slate-100);
	overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
.bold {
	font-family: var(--heading-font);
	font-weight: bold;
}

.active {
	color: var(--blue-500);
}

*,
html {
	scrollbar-width: thin;
}

*::-webkit-scrollbar,
html::-webkit-scrollbar {
	-webkit-appearance: none;
}

*::-webkit-scrollbar,
html::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

html::-webkit-scrollbar-track,
html::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
	background-color: var(--slate-800);
}

html::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
	background-color: var(--blue-600);
	border-radius: 0.4rem;
	transition: background-color 0.8s;
}

html::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:active,
*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
	background-color: var(--blue-700);
}

html::-webkit-scrollbar-button:increment,
html::-webkit-scrollbar-button,
*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
	display: none;
}
